body {
  background-color: rgb(8, 8, 8);
  text-align: center;
  color: aliceblue;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #000014;
  padding: 20px;
  width: auto;
  height: auto;
}

.main {
  text-align: center;
  position: relative;
}

.modal {
position: fixed;
left: 25%;
top: 25%;
width: 50vw;
height: 50vh;
background-color: lightpink;
z-index: 10;

}

/*--------------- EXERCISE 1 STYLES ---------------- */
.exercise1 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}

.node2 {
  text-align: center;
}

/*--------------- EXERCISE 2 STYLES ---------------- */
.exercise2 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}

/*--------------- EXERCISE 3 STYLES ---------------- */
.exercise3 {
  text-align: center; 
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
  
}

#N1 {
  color: rgb(255, 68, 131);
}

/*--------------- EXERCISE 4 STYLES ---------------- */
#container {
  width: 200px;
  height: 200px;
  background: rgb(241, 16, 110);
  position: relative;
}

#box {
  width: 50px;
  height: 50px;
  background: rgb(255, 213, 23);
  box-shadow: 0px 0px 10px 7px  lightgoldenrodyellow;
  text-align: center;
  font-size: 40px;
  border-radius: 8px;
  position: absolute;
  animation-name: Animate;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}


.exercise4 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}

/*--------------- EXERCISE 5 STYLES ---------------- */
.exercise5 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}

@keyframes Animate {
  0% {
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    
  }
  25% {
    left: 150px;
    top: 0px;
    transform: rotate(90deg);
  }
  50% {
    left: 150px;
    top: 150px;
    transform: rotate(180deg);
  }
  75% {
    left:0px;
    top: 150px;
    transform: rotate(270deg);
  }
  100% {
    left: 0px;
    top: 0px;
    transform: rotate(360deg);
  }


}